<!DOCTYPE html>
<app-header></app-header>

<!-- Begin page content -->
<main class="flex-shrink-0">
    <div class="container">
      <div class="d-flex mt-5">
        <div>
          <h1>Abstract</h1>
        </div>
        <div class="ms-auto">
          <a class="btn btn-outline-primary" 
          href="https://archive-beta.ics.uci.edu/ml/datasets/mice+protein+expression"
          target="_blank">Data Source</a>
        </div>
      </div>
      <p>Expression levels of 77 proteins measured in the cerebral cortex 
        of 8 classes of control and Down syndrome mice exposed to context 
        fear conditioning, a task used to assess associative learning.</p>
        <div class="row">
          <div class="col">
            <h3>Dataset Characteristics</h3>
            <p>Multivariate</p>
          </div>
          <div class="col">
            <h3>Subject Area</h3>
            <p>Life</p>
          </div>
          <div class="col">
            <h3>Associated Tasks</h3>
            <p>Classification, Clustering</p>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <h3>Attribute Type</h3>
            <p>Real</p>
          </div>
          <div class="col">
            <h3># Instances</h3>
            <p>1080</p>
          </div>
          <div class="col">
            <h3># Attributes</h3>
            <p>N/A</p>
          </div>
        </div>
    </div>
</main>

<app-footer></app-footer>